<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638510732483-s3if7ciegh9itbg8kdjk528r5r9hlhfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638510732483-s3if7ciegh9itbg8kdjk528r5r9hlhfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBvGSuTn1_yYJAQ-CwKJSSLq-T_CLOMNrE</string>
	<key>GCM_SENDER_ID</key>
	<string>638510732483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azaleavaseghi.FirebasePushNotif</string>
	<key>PROJECT_ID</key>
	<string>fir-pushnotif-46ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushnotif-46ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638510732483:ios:6c2c58418967de1d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-pushnotif-46ff0.firebaseio.com</string>
</dict>
</plist>